*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(90deg, rgba(164,0,228,1) 0%, rgba(71,9,121,0.9192051820728291) 48%, rgba(0,212,255,1) 100%);
}
.href{
    color: white;
    text-decoration: none;
    font-size: large;
}
.href:active{
    color: rgb(151, 40, 255);
    text-decoration:dashed;
}